<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="d.e.p"> 

	<insert id="insert"> <!-- id = 매핑하는 메서드 넣기 -->
		insert into depart (did,dname) values (#{did},#{dname})  <!-- ?해당하는 갯수만큼 안채워줬다.  안채워줄 경우 부적합한 열 유형 1111 Error setting null for parameter#1이런식  -->
	</insert>

	<select id="list" resultType="DepartDTO">
		select * from depart
	</select>
	
	<select id="read" resultType="DepartDTO">
		select * from depart where did = #{did}
	</select>
	
	<select id="updateui" resultType="DepartDTO">
		select * from depart where did = #{did}
	</select>
	
	<update id="update">
		update depart set dname = #{dname} where did = #{did}
	</update>
	
	<delete id="delete">
		delete from depart where did = #{did}
	</delete>
	
</mapper>